*{
    margin:5px;
}

body {
   height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid dimgray;  
}

#caja{
    width: 100%;
    margin-right: 5px;
    border: 5px solid gray;
}
h1{
    text-align: center;
    color: seagreen;
    font-size: 40px;
}
span{
    font-size: 40px;
    color: sienna;
}
#menu{
    display: flex;
    align-items: center;   
}

ul{
    width: 10%;
    text-align: center;
    padding-right: 20px;   
}
li{
   margin: 5px; 
 
}
h2 { 
    color: limegreen;
    border-bottom:3px solid limegreen ;
}
h3{
    color: sienna;
}
p{
    width: 100%;
    margin-left: 0%;      
}

#actived {
    background-color: sandybrown;
}
#img{

}

